  
/* This formats the social media icons on the contact page. The icons at the bottom of each page have just the default formatting. */

.socialMediaLinks a {
    font-size: 35px;
    margin: 0 10px 0 0;
    color: #000000;
    text-decoration: none;
}